extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Enter your email
      form.form.form--forgotPassword
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.forgot__password
          button#resetPassword.btn.btn--green Reset Password